<div class="pt-2 ps-lg-2">
  <div class="mb-3">
    <h4 class="bs-title mb-0">My appointments</h4>
    <p class="bs-lead">It seems you have no appointments yet...</p>
  </div>
</div>

<div class="ps-lg-2">
  <a class="btn btn-primary" href="/appointments/form">Schedule an appointment</a>
  <a class="btn btn-secondary" href="/">Home</a>
</div>