<div class="pt-2 ps-lg-2">
  <div class="mb-3">
    <h4 class="bs-title mb-0">My messages</h4>
    <p class="bs-lead">It seems you haden't send us any letters...</p>
  </div>
</div>

<div class="ps-lg-2">
  <a class="btn btn-primary" href="/contacts/messages/form">Write a message</a>
  <a class="btn btn-secondary" href="/">Home</a>
</div>