<div class="pt-2 ps-lg-2">
  <div class="mb-3">
    <h4 class="bs-title mb-0">Success!</h4>
    <p class="bs-lead">We recieved your message, the response will be sent to your email: <%= @email %> </p>
  </div>
  <a class="btn btn-primary" href="/contacts">Back</a>
</div>

