<div class="pt-2 ps-lg-2">
  <div class="d-md-flex align-items-center justify-content-between">
    <div class="mb-3">
      <h4 class="bs-title mb-0">Playground</h4>
      <p class="bs-lead">Here a list of miniprojects for testing</p>
    </div>
  </div>  
</div>

<ul class="list-unstyled">
  <li class="mb-2">
    <div class="ps-lg-2">
      <a class="h5" href="/color_picker_form">color_picker_form</a> 
    </div>
  </li>

  <li class="mb-2">
    <div class="ps-lg-2">
      <a class="h5" href="/serverside_validation_form">serverside_validation_form</a> 
    </div>
  </li>
</ul>